body {
	margin: 0;
	padding: 0;
}

#wrapper {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	grid-template-rows: 50em auto-fill 100px;
	grid-gap: 5px;
	grid-template-areas: 
	"h h h h h h h h h h h h"
	"c c c c c c c c c c c c"
	"f f f f f f f f f f f f";
}


#header {
	grid-area: h;

	background: url(../img/headr_img.jpeg) center;
	/*background-size: cover;
	background-repeat: no-repeat;*/

	/*padding: 4rem 2rem;*/

	color: #fff;
}

/*#nav-bar {
	grid-area: h;
	/*position: left;*/
	/*align-items: left;*/

}

.nav-link {
	display: inline-block;

	color: #00ffff;
	
	text-decoration: none;
	text-align: center;
	font-weight: bold;

	justify-content: end;
}

.nav-link:hover {
	color: #fff;
	
	border-bottom: 2px solid #fff;
	
	transition: .8;
}

#headr-bttn {
	color: #fff;
	background-color: #00ffff;

	border-style: none;
	border-radius: 24px;
}

#main-doc {
	grid-area: c;
	align-items: center;

	background-color: orange;	
}



#footer {
	grid-area: f;

	background-color: green;

}

/*@media(width: 720px) {
  #navbar {
    width: 15px;
  }
}*/